<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Website</title>
    <link rel="stylesheet" href="index.css">

</head>
<body>
<div class="container">
    <header>
        <h1>Hey, I'm Sergey – an backend engineer</h1>
        <p>My stack is Java, Spring Framework, Hibernate ORM etc.</p>
    </header>

    <section class="projects">
        <h2>Projects</h2>
        AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
    </section>

    <section class="building">
        <h2>Building</h2>
       AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
    </section>


    <!-- Add avatar image here -->
</div><!-- /.container -->
</body>
</html>
